USE [master]
GO
/****** Object:  Database [Project]    Script Date: 12/23/2018 8:04:08 PM ******/
CREATE DATABASE [Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Project.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Project_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Project]
GO
/****** Object:  Table [dbo].[College]    Script Date: 12/23/2018 8:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[College](
	[CollegeID] [int] NOT NULL,
	[College Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_College] PRIMARY KEY CLUSTERED 
(
	[CollegeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 12/23/2018 8:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Courses](
	[Course-ID] [int] NOT NULL,
	[Course Name] [varchar](50) NULL,
	[Course Description] [varchar](max) NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[Course-ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Courses S]    Script Date: 12/23/2018 8:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses S](
	[Student-ID] [int] NOT NULL,
	[Course-ID] [int] NOT NULL,
 CONSTRAINT [PK_Courses S] PRIMARY KEY CLUSTERED 
(
	[Student-ID] ASC,
	[Course-ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Courses T]    Script Date: 12/23/2018 8:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses T](
	[Teacher-ID] [int] NOT NULL,
	[Course-ID] [int] NOT NULL,
 CONSTRAINT [PK_Courses T] PRIMARY KEY CLUSTERED 
(
	[Teacher-ID] ASC,
	[Course-ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Department]    Script Date: 12/23/2018 8:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Department](
	[Department-ID] [int] NOT NULL,
	[Faculty-ID] [int] NOT NULL,
	[College-ID] [int] NOT NULL,
	[Department Name] [varchar](50) NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Department-ID] ASC,
	[Faculty-ID] ASC,
	[College-ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 12/23/2018 8:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty](
	[Faculty-ID] [int] NOT NULL,
	[College-ID] [int] NOT NULL,
 CONSTRAINT [PK_Faculty] PRIMARY KEY CLUSTERED 
(
	[Faculty-ID] ASC,
	[College-ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[facultynames]    Script Date: 12/23/2018 8:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[facultynames](
	[Faculty id] [int] NOT NULL,
	[Faculty name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_facultynames] PRIMARY KEY CLUSTERED 
(
	[Faculty id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RatedStudent]    Script Date: 12/23/2018 8:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RatedStudent](
	[Rated] [int] NOT NULL,
	[Rater] [int] NOT NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_RatedStudent] PRIMARY KEY CLUSTERED 
(
	[Rated] ASC,
	[Rater] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ratedteacher]    Script Date: 12/23/2018 8:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ratedteacher](
	[Teacher-ID] [int] NULL,
	[student-Id] [int] NULL,
	[status] [int] NULL,
	[end] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[S Rates S]    Script Date: 12/23/2018 8:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S Rates S](
	[Rat] [int] NOT NULL,
	[Rated] [int] NOT NULL,
	[rating] [int] NULL,
 CONSTRAINT [PK_S Rates S] PRIMARY KEY CLUSTERED 
(
	[Rat] ASC,
	[Rated] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[S Request S]    Script Date: 12/23/2018 8:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S Request S](
	[sid1] [int] NOT NULL,
	[sid2] [int] NOT NULL,
	[courseid] [int] NOT NULL,
 CONSTRAINT [PK_S Request S] PRIMARY KEY CLUSTERED 
(
	[sid1] ASC,
	[sid2] ASC,
	[courseid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[S Request T]    Script Date: 12/23/2018 8:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S Request T](
	[Student-ID] [int] NOT NULL,
	[Teacher-ID] [int] NOT NULL,
	[courseid] [int] NOT NULL,
 CONSTRAINT [PK_S Request T] PRIMARY KEY CLUSTERED 
(
	[Student-ID] ASC,
	[Teacher-ID] ASC,
	[courseid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[S spot Preferred]    Script Date: 12/23/2018 8:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S spot Preferred](
	[Student-ID] [int] NOT NULL,
	[Spot-ID] [int] NOT NULL,
 CONSTRAINT [PK_S spot Preferred] PRIMARY KEY CLUSTERED 
(
	[Student-ID] ASC,
	[Spot-ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Spots]    Script Date: 12/23/2018 8:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Spots](
	[Spot-ID] [int] NOT NULL,
	[City] [varchar](50) NULL,
	[District] [varchar](50) NULL,
	[Street name] [varchar](50) NULL,
 CONSTRAINT [PK_Spots] PRIMARY KEY CLUSTERED 
(
	[Spot-ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ssos]    Script Date: 12/23/2018 8:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ssos](
	[sessionid] [int] IDENTITY(1,1) NOT NULL,
	[sid1] [int] NOT NULL,
	[sid2] [int] NOT NULL,
	[courseid] [int] NOT NULL,
	[opened] [bit] NOT NULL,
 CONSTRAINT [PK_ssos] PRIMARY KEY CLUSTERED 
(
	[sessionid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STOS]    Script Date: 12/23/2018 8:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOS](
	[studentid] [int] NOT NULL,
	[teacherid] [int] NOT NULL,
	[courseid] [int] NOT NULL,
	[sessionid] [int] IDENTITY(1,1) NOT NULL,
	[opened] [bit] NOT NULL,
 CONSTRAINT [PK_STOS] PRIMARY KEY CLUSTERED 
(
	[sessionid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STRates]    Script Date: 12/23/2018 8:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STRates](
	[Direction] [int] NOT NULL,
	[Teacher-ID] [int] NOT NULL,
	[Student-ID] [int] NOT NULL,
	[rating] [int] NULL,
 CONSTRAINT [PK_STRates] PRIMARY KEY CLUSTERED 
(
	[Direction] ASC,
	[Teacher-ID] ASC,
	[Student-ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 12/23/2018 8:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[Student-ID] [int] IDENTITY(1,1) NOT NULL,
	[First name] [varchar](50) NOT NULL,
	[Last Name] [varchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[Gender] [char](1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Phone#] [varchar](20) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[District] [varchar](50) NOT NULL,
	[Score] [int] NOT NULL CONSTRAINT [DF_Student_Score]  DEFAULT ((0)),
	[Department-ID] [int] NOT NULL,
	[Faculty-ID] [int] NOT NULL,
	[College-ID] [int] NOT NULL,
	[username] [varchar](50) NOT NULL,
	[discovery] [bit] NOT NULL CONSTRAINT [DF_Student_discovery]  DEFAULT ((1)),
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Student-ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T spot Preferred]    Script Date: 12/23/2018 8:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T spot Preferred](
	[Teacher-ID] [int] NOT NULL,
	[Spot-ID] [int] NOT NULL,
 CONSTRAINT [PK_T spot Preferred] PRIMARY KEY CLUSTERED 
(
	[Teacher-ID] ASC,
	[Spot-ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 12/23/2018 8:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Teacher](
	[Teacher-ID] [int] IDENTITY(1,1) NOT NULL,
	[First name] [varchar](50) NOT NULL,
	[Last name] [varchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[Gender] [char](1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Phone#] [varchar](20) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[District] [varchar](50) NOT NULL,
	[Score] [int] NOT NULL CONSTRAINT [DF_Teacher_Score]  DEFAULT ((0)),
	[PriceperHour] [int] NOT NULL,
	[Department-ID] [int] NOT NULL,
	[Faculty-ID] [int] NOT NULL,
	[College-ID] [int] NOT NULL,
	[username] [varchar](50) NOT NULL,
	[discovery] [bit] NOT NULL CONSTRAINT [DF_Teacher_discovery]  DEFAULT ((1)),
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[Teacher-ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users_basic]    Script Date: 12/23/2018 8:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users_basic](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[Priv] [int] NOT NULL,
 CONSTRAINT [PK_users_basic] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[College] ([CollegeID], [College Name]) VALUES (1, N'Cairo University')
INSERT [dbo].[College] ([CollegeID], [College Name]) VALUES (2, N'GUC')
INSERT [dbo].[College] ([CollegeID], [College Name]) VALUES (3, N'AUC')
INSERT [dbo].[Courses] ([Course-ID], [Course Name], [Course Description]) VALUES (1, N'Communications804', N'quartu quo linguens quoque quo, fecit, gravis fecit, gravis')
INSERT [dbo].[Courses] ([Course-ID], [Course Name], [Course Description]) VALUES (2, N'Water878', N'glavans trepicandor ut si gravum si estis bono et')
INSERT [dbo].[Courses] ([Course-ID], [Course Name], [Course Description]) VALUES (3, N'Chemicals214', N'plorum pladior quorum novum quo, imaginator venit. et quantare sed Sed quis')
GO
INSERT [dbo].[Courses S] ([Student-ID], [Course-ID]) VALUES (1, 3)
INSERT [dbo].[Courses S] ([Student-ID], [Course-ID]) VALUES (1, 72)
INSERT [dbo].[Courses S] ([Student-ID], [Course-ID]) VALUES (2, 30)
INSERT [dbo].[Courses T] ([Teacher-ID], [Course-ID]) VALUES (1, 66)
INSERT [dbo].[Courses T] ([Teacher-ID], [Course-ID]) VALUES (1, 86)
INSERT [dbo].[Courses T] ([Teacher-ID], [Course-ID]) VALUES (1, 100)
INSERT [dbo].[Department] ([Department-ID], [Faculty-ID], [College-ID], [Department Name]) VALUES (1, 1, 1, N'computer and communication ')
INSERT [dbo].[Department] ([Department-ID], [Faculty-ID], [College-ID], [Department Name]) VALUES (1, 7, 9, N' Communication')
INSERT [dbo].[Department] ([Department-ID], [Faculty-ID], [College-ID], [Department Name]) VALUES (1, 8, 1, N'Technical')
GO
INSERT [dbo].[Faculty] ([Faculty-ID], [College-ID]) VALUES (1, 1)
INSERT [dbo].[Faculty] ([Faculty-ID], [College-ID]) VALUES (1, 2)
INSERT [dbo].[Faculty] ([Faculty-ID], [College-ID]) VALUES (1, 3)
GO
INSERT [dbo].[facultynames] ([Faculty id], [Faculty name]) VALUES (1, N'Engineering')
INSERT [dbo].[facultynames] ([Faculty id], [Faculty name]) VALUES (2, N'Medicine')
INSERT [dbo].[facultynames] ([Faculty id], [Faculty name]) VALUES (3, N'Computer and information')
INSERT [dbo].[S Request S] ([sid1], [sid2], [courseid]) VALUES (7, 1, 3)
INSERT [dbo].[S spot Preferred] ([Student-ID], [Spot-ID]) VALUES (1, 3)
INSERT [dbo].[S spot Preferred] ([Student-ID], [Spot-ID]) VALUES (1, 5)
INSERT [dbo].[S spot Preferred] ([Student-ID], [Spot-ID]) VALUES (1, 6)
GO
INSERT [dbo].[Spots] ([Spot-ID], [City], [District], [Street name]) VALUES (1, N'Hialeah', N'Portsmouth', N'Louis')
INSERT [dbo].[Spots] ([Spot-ID], [City], [District], [Street name]) VALUES (2, N'Memphis', N'Norwich', N'Kristian07')
INSERT [dbo].[Spots] ([Spot-ID], [City], [District], [Street name]) VALUES (3, N'Lubbock', N'Poole', N'Otis')
GO
INSERT [dbo].[STRates] ([Direction], [Teacher-ID], [Student-ID], [rating]) VALUES (0, 1, 1, 3)
INSERT [dbo].[STRates] ([Direction], [Teacher-ID], [Student-ID], [rating]) VALUES (1, 1, 1, 4)
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([Student-ID], [First name], [Last Name], [Age], [Gender], [Email], [Phone#], [City], [District], [Score], [Department-ID], [Faculty-ID], [College-ID], [username], [discovery]) VALUES (1, N'shoshi', N'gamal', 21, N'f', N'shrouk@google.com', N'12372378', N'Baltimore', N'VVX', 2, 1, 1, 1, N'adhamrostom', 1)
INSERT [dbo].[Student] ([Student-ID], [First name], [Last Name], [Age], [Gender], [Email], [Phone#], [City], [District], [Score], [Department-ID], [Faculty-ID], [College-ID], [username], [discovery]) VALUES (2, N'ahmed', N'helmy', 21, N'm', N'helmy@gmail.com', N'1293213', N'Jackson', N'tagmo3', 4, 1, 1, 1, N'ahmedhesham', 1)
INSERT [dbo].[Student] ([Student-ID], [First name], [Last Name], [Age], [Gender], [Email], [Phone#], [City], [District], [Score], [Department-ID], [Faculty-ID], [College-ID], [username], [discovery]) VALUES (3, N'123', N'zaghow', 19, N'f', N'ahmed@yahoo.com', N'1223232', N'Spokane', N'VVX', 0, 1, 1, 1, N'alytechno', 1)
SET IDENTITY_INSERT [dbo].[Student] OFF
INSERT [dbo].[T spot Preferred] ([Teacher-ID], [Spot-ID]) VALUES (1, 2)
INSERT [dbo].[T spot Preferred] ([Teacher-ID], [Spot-ID]) VALUES (1, 3)
INSERT [dbo].[T spot Preferred] ([Teacher-ID], [Spot-ID]) VALUES (1, 6)
GO
SET IDENTITY_INSERT [dbo].[Teacher] ON 

INSERT [dbo].[Teacher] ([Teacher-ID], [First name], [Last name], [Age], [Gender], [Email], [Phone#], [City], [District], [Score], [PriceperHour], [Department-ID], [Faculty-ID], [College-ID], [username], [discovery]) VALUES (1, N'lolo', N'koo', 20, N'M', N'jjj', N'1063321433', N'Cairo', N'Hadayek', 0, 3, 1, 1, 1, N'batal', 1)
INSERT [dbo].[Teacher] ([Teacher-ID], [First name], [Last name], [Age], [Gender], [Email], [Phone#], [City], [District], [Score], [PriceperHour], [Department-ID], [Faculty-ID], [College-ID], [username], [discovery]) VALUES (2, N't2', N'test2', 20, N'f', N'sdksdk', N'10203023', N'ola', N'sdkdksdk', 12, 5, 1, 1, 1, N'mayada', 1)
INSERT [dbo].[Teacher] ([Teacher-ID], [First name], [Last name], [Age], [Gender], [Email], [Phone#], [City], [District], [Score], [PriceperHour], [Department-ID], [Faculty-ID], [College-ID], [username], [discovery]) VALUES (3, N'Gena', N'Russell', 28, N'M', N'ksapx.lllqwb@grwygrvs.sdhogf.net', N'1367306493', N'Richmond', N'X9OFVYGQO34UITICT232EK', 0, 7, 408, 9, 2, N'magda', 0)
SET IDENTITY_INSERT [dbo].[Teacher] OFF
INSERT [dbo].[users_basic] ([username], [password], [Priv]) VALUES (N'adhamrostom', N'123', 3)
INSERT [dbo].[users_basic] ([username], [password], [Priv]) VALUES (N'ahmedhesham', N'123', 3)
INSERT [dbo].[users_basic] ([username], [password], [Priv]) VALUES (N'Alexander314', N'123', 1)
GO
ALTER TABLE [dbo].[RatedStudent] ADD  CONSTRAINT [DF_RatedStudent_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[Ratedteacher] ADD  CONSTRAINT [DF_Rated Teacher_end]  DEFAULT ((0)) FOR [end]
GO
ALTER TABLE [dbo].[Courses S]  WITH CHECK ADD  CONSTRAINT [FK_Courses S_Courses] FOREIGN KEY([Course-ID])
REFERENCES [dbo].[Courses] ([Course-ID])
GO
ALTER TABLE [dbo].[Courses S] CHECK CONSTRAINT [FK_Courses S_Courses]
GO
ALTER TABLE [dbo].[Courses S]  WITH CHECK ADD  CONSTRAINT [FK_Courses S_Student] FOREIGN KEY([Student-ID])
REFERENCES [dbo].[Student] ([Student-ID])
GO
ALTER TABLE [dbo].[Courses S] CHECK CONSTRAINT [FK_Courses S_Student]
GO
ALTER TABLE [dbo].[Courses T]  WITH CHECK ADD  CONSTRAINT [FK_Courses T_Courses] FOREIGN KEY([Course-ID])
REFERENCES [dbo].[Courses] ([Course-ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Courses T] CHECK CONSTRAINT [FK_Courses T_Courses]
GO
ALTER TABLE [dbo].[Courses T]  WITH CHECK ADD  CONSTRAINT [FK_Courses T_Teacher] FOREIGN KEY([Teacher-ID])
REFERENCES [dbo].[Teacher] ([Teacher-ID])
GO
ALTER TABLE [dbo].[Courses T] CHECK CONSTRAINT [FK_Courses T_Teacher]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Faculty] FOREIGN KEY([Faculty-ID], [College-ID])
REFERENCES [dbo].[Faculty] ([Faculty-ID], [College-ID])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_Faculty]
GO
ALTER TABLE [dbo].[Faculty]  WITH CHECK ADD  CONSTRAINT [FK_Faculty_College] FOREIGN KEY([College-ID])
REFERENCES [dbo].[College] ([CollegeID])
GO
ALTER TABLE [dbo].[Faculty] CHECK CONSTRAINT [FK_Faculty_College]
GO
ALTER TABLE [dbo].[Faculty]  WITH CHECK ADD  CONSTRAINT [FK_Faculty_facultynames] FOREIGN KEY([Faculty-ID])
REFERENCES [dbo].[facultynames] ([Faculty id])
GO
ALTER TABLE [dbo].[Faculty] CHECK CONSTRAINT [FK_Faculty_facultynames]
GO
ALTER TABLE [dbo].[RatedStudent]  WITH CHECK ADD  CONSTRAINT [FK_RatedStudent_Student] FOREIGN KEY([Rated])
REFERENCES [dbo].[Student] ([Student-ID])
GO
ALTER TABLE [dbo].[RatedStudent] CHECK CONSTRAINT [FK_RatedStudent_Student]
GO
ALTER TABLE [dbo].[RatedStudent]  WITH CHECK ADD  CONSTRAINT [FK_RatedStudent_Student1] FOREIGN KEY([Rater])
REFERENCES [dbo].[Student] ([Student-ID])
GO
ALTER TABLE [dbo].[RatedStudent] CHECK CONSTRAINT [FK_RatedStudent_Student1]
GO
ALTER TABLE [dbo].[S Rates S]  WITH CHECK ADD  CONSTRAINT [FK_S Rates S_Student] FOREIGN KEY([Rat])
REFERENCES [dbo].[Student] ([Student-ID])
GO
ALTER TABLE [dbo].[S Rates S] CHECK CONSTRAINT [FK_S Rates S_Student]
GO
ALTER TABLE [dbo].[S Rates S]  WITH CHECK ADD  CONSTRAINT [FK_S Rates S_Student1] FOREIGN KEY([Rated])
REFERENCES [dbo].[Student] ([Student-ID])
GO
ALTER TABLE [dbo].[S Rates S] CHECK CONSTRAINT [FK_S Rates S_Student1]
GO
ALTER TABLE [dbo].[S Request S]  WITH CHECK ADD  CONSTRAINT [FK_S Request S_Courses] FOREIGN KEY([courseid])
REFERENCES [dbo].[Courses] ([Course-ID])
GO
ALTER TABLE [dbo].[S Request S] CHECK CONSTRAINT [FK_S Request S_Courses]
GO
ALTER TABLE [dbo].[S Request S]  WITH CHECK ADD  CONSTRAINT [FK_S Request S_Student] FOREIGN KEY([sid1])
REFERENCES [dbo].[Student] ([Student-ID])
GO
ALTER TABLE [dbo].[S Request S] CHECK CONSTRAINT [FK_S Request S_Student]
GO
ALTER TABLE [dbo].[S Request S]  WITH CHECK ADD  CONSTRAINT [FK_S Request S_Student1] FOREIGN KEY([sid2])
REFERENCES [dbo].[Student] ([Student-ID])
GO
ALTER TABLE [dbo].[S Request S] CHECK CONSTRAINT [FK_S Request S_Student1]
GO
ALTER TABLE [dbo].[S Request T]  WITH CHECK ADD  CONSTRAINT [FK_S Request T_Courses] FOREIGN KEY([courseid])
REFERENCES [dbo].[Courses] ([Course-ID])
GO
ALTER TABLE [dbo].[S Request T] CHECK CONSTRAINT [FK_S Request T_Courses]
GO
ALTER TABLE [dbo].[S Request T]  WITH CHECK ADD  CONSTRAINT [FK_S Request T_Student] FOREIGN KEY([Student-ID])
REFERENCES [dbo].[Student] ([Student-ID])
GO
ALTER TABLE [dbo].[S Request T] CHECK CONSTRAINT [FK_S Request T_Student]
GO
ALTER TABLE [dbo].[S Request T]  WITH CHECK ADD  CONSTRAINT [FK_S Request T_Teacher] FOREIGN KEY([Teacher-ID])
REFERENCES [dbo].[Teacher] ([Teacher-ID])
GO
ALTER TABLE [dbo].[S Request T] CHECK CONSTRAINT [FK_S Request T_Teacher]
GO
ALTER TABLE [dbo].[S spot Preferred]  WITH CHECK ADD  CONSTRAINT [FK_S spot Preferred_Spots] FOREIGN KEY([Spot-ID])
REFERENCES [dbo].[Spots] ([Spot-ID])
GO
ALTER TABLE [dbo].[S spot Preferred] CHECK CONSTRAINT [FK_S spot Preferred_Spots]
GO
ALTER TABLE [dbo].[S spot Preferred]  WITH CHECK ADD  CONSTRAINT [FK_S spot Preferred_Student] FOREIGN KEY([Student-ID])
REFERENCES [dbo].[Student] ([Student-ID])
GO
ALTER TABLE [dbo].[S spot Preferred] CHECK CONSTRAINT [FK_S spot Preferred_Student]
GO
ALTER TABLE [dbo].[ssos]  WITH CHECK ADD  CONSTRAINT [FK_ssos_Courses] FOREIGN KEY([courseid])
REFERENCES [dbo].[Courses] ([Course-ID])
GO
ALTER TABLE [dbo].[ssos] CHECK CONSTRAINT [FK_ssos_Courses]
GO
ALTER TABLE [dbo].[ssos]  WITH CHECK ADD  CONSTRAINT [FK_ssos_Student] FOREIGN KEY([sid1])
REFERENCES [dbo].[Student] ([Student-ID])
GO
ALTER TABLE [dbo].[ssos] CHECK CONSTRAINT [FK_ssos_Student]
GO
ALTER TABLE [dbo].[ssos]  WITH CHECK ADD  CONSTRAINT [FK_ssos_Student1] FOREIGN KEY([sid2])
REFERENCES [dbo].[Student] ([Student-ID])
GO
ALTER TABLE [dbo].[ssos] CHECK CONSTRAINT [FK_ssos_Student1]
GO
ALTER TABLE [dbo].[STOS]  WITH CHECK ADD  CONSTRAINT [FK_STOS_Courses1] FOREIGN KEY([courseid])
REFERENCES [dbo].[Courses] ([Course-ID])
GO
ALTER TABLE [dbo].[STOS] CHECK CONSTRAINT [FK_STOS_Courses1]
GO
ALTER TABLE [dbo].[STOS]  WITH CHECK ADD  CONSTRAINT [FK_STOS_Student] FOREIGN KEY([studentid])
REFERENCES [dbo].[Student] ([Student-ID])
GO
ALTER TABLE [dbo].[STOS] CHECK CONSTRAINT [FK_STOS_Student]
GO
ALTER TABLE [dbo].[STOS]  WITH CHECK ADD  CONSTRAINT [FK_STOS_Teacher] FOREIGN KEY([teacherid])
REFERENCES [dbo].[Teacher] ([Teacher-ID])
GO
ALTER TABLE [dbo].[STOS] CHECK CONSTRAINT [FK_STOS_Teacher]
GO
ALTER TABLE [dbo].[STRates]  WITH CHECK ADD  CONSTRAINT [FK_STRates_Student] FOREIGN KEY([Student-ID])
REFERENCES [dbo].[Student] ([Student-ID])
GO
ALTER TABLE [dbo].[STRates] CHECK CONSTRAINT [FK_STRates_Student]
GO
ALTER TABLE [dbo].[STRates]  WITH CHECK ADD  CONSTRAINT [FK_STRates_Teacher] FOREIGN KEY([Teacher-ID])
REFERENCES [dbo].[Teacher] ([Teacher-ID])
GO
ALTER TABLE [dbo].[STRates] CHECK CONSTRAINT [FK_STRates_Teacher]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Department] FOREIGN KEY([Department-ID], [Faculty-ID], [College-ID])
REFERENCES [dbo].[Department] ([Department-ID], [Faculty-ID], [College-ID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Department]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_users_basic] FOREIGN KEY([username])
REFERENCES [dbo].[users_basic] ([username])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_users_basic]
GO
ALTER TABLE [dbo].[T spot Preferred]  WITH CHECK ADD  CONSTRAINT [FK_T spot Preferred_Spots] FOREIGN KEY([Spot-ID])
REFERENCES [dbo].[Spots] ([Spot-ID])
GO
ALTER TABLE [dbo].[T spot Preferred] CHECK CONSTRAINT [FK_T spot Preferred_Spots]
GO
ALTER TABLE [dbo].[T spot Preferred]  WITH CHECK ADD  CONSTRAINT [FK_T spot Preferred_Teacher] FOREIGN KEY([Teacher-ID])
REFERENCES [dbo].[Teacher] ([Teacher-ID])
GO
ALTER TABLE [dbo].[T spot Preferred] CHECK CONSTRAINT [FK_T spot Preferred_Teacher]
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Department] FOREIGN KEY([Department-ID], [Faculty-ID], [College-ID])
REFERENCES [dbo].[Department] ([Department-ID], [Faculty-ID], [College-ID])
GO
ALTER TABLE [dbo].[Teacher] CHECK CONSTRAINT [FK_Teacher_Department]
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_users_basic] FOREIGN KEY([username])
REFERENCES [dbo].[users_basic] ([username])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Teacher] CHECK CONSTRAINT [FK_Teacher_users_basic]
GO
USE [master]
GO
